@import "tailwindcss";

.afacad {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "royal";
  src: url("/fonts/royal.ttf");
}

.royal {
  font-family: "royal", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-in forwards;
}

.foot-grad {
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.923) 0%, rgba(255, 255, 255, 0) 60%);
}

.royal-heading {
  color: #1F272A;
  text-align: center;
  font-family: "royal", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1.36px;
  font-size: 68px;
  line-height: 42px;
}

/* Desktop styles (min-width: 640px or Tailwind's sm breakpoint) */
@media (min-width: 640px) {
  .royal-heading {
    font-size: 140px;
    line-height: 88px;
    letter-spacing: -2.8px;
  }
}


/* Custom pagination styles */
.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
  margin-top: 1.5rem !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #d1d5db !important;
  /* gray-300 */
  opacity: 1 !important;
  margin: 0 6px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
  /* black */

}

.swiper-button-next {
  width: 2.5rem !important;
  /* w-10 = 40px = 2.5rem */
  height: 2.5rem !important;
  /* h-10 = 40px = 2.5rem */
  border-radius: 9999px !important;
  /* rounded-full */
  border: 1px solid #D1D5DB !important;
  /* border-gray-300 (#D1D5DB) */
  display: flex !important;
  /* flex */
  align-items: center !important;
  /* items-center */
  justify-content: center !important;
  /* justify-center */
  transition: background-color 0.2s ease-in-out !important;
  /* transition-colors */

}

.swiper-button-next:hover {
  background-color: #F9FAFB;
  /* hover:bg-gray-50 (#F9FAFB) */
}

.swiper-button-prev {
  width: 2.5rem !important;
  /* w-10 = 40px = 2.5rem */
  height: 2.5rem !important;
  /* h-10 = 40px = 2.5rem */
  border-radius: 9999px !important;
  /* rounded-full */
  border: 1px solid #D1D5DB !important;
  /* border-gray-300 (#D1D5DB) */
  display: flex !important;
  /* flex */
  align-items: center !important;
  /* items-center */
  justify-content: center !important;
  /* justify-center */
  transition: background-color 0.2s ease-in-out !important;
  /* transition-colors */
}

.swiper-button-prev:hover {
  background-color: #F9FAFB;
  /* hover:bg-gray-50 (#F9FAFB) */
}

.swiper-button-next::after {
  display: none !important;
  /* Hide the default arrow */
}

.swiper-button-prev::after {
  display: none !important;
  /* Hide the default arrow */
}